*{
    margin: 0px;
}

header{
    padding: 1.3% 0px;
    background-color: black;
}
#menu{
    text-align: center;
}

#menu a{
    margin: 0px 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-decoration: none;
    
}
#menuEx{
    background-color: darkgoldenrod;
    padding: 10px 0px;
}
#logo{
    width: 100px;
    margin: -40px 1%;
}

#cuerpo{
    margin: 0px 3%;
}

#mente{
    background-color:  #feca40;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(233, 181, 69) 25px, rgba(233, 181, 69) 40px);
    margin-top: 3%;

}

#mente::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
    margin-bottom: 60px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

.text-shadow2{
    color: indigo;
}

#nose{
    background-color: #feca40;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}